#wrapper {
    justify-content: space-between;

    #middle-line {
        width: 2px;
        background-color: lightgray;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}

.urgent {
    color: #fff;
    font-weight: bold;
    background-color: #FF3D00;
}

.medium {
    color: #fff;
    font-weight: bold;
    background-color: #FFA800;
}

.low {
    color: #fff;
    font-weight: bold;
    background-color: #7AE229;
}

.required {
    color: red;
}

#btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 480px;
    margin-top: 50px;
}


.flex-row {
    display: flex;
    gap: 50px;
}

.prio-btns {
    button {
        display: flex;
        gap: 10px;
    }
}


.flex-column {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    #selected-contacts {
        display: flex;
    }

        input {
            box-sizing: border-box;
            width: 440px;
            padding: 12px;
            border-radius: 10px;
            border: 1px solid #d1d1d1;
        }

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            width: 440px;

                input {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .icons-wrapper {
                    position: absolute;
                    right: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 50px;
         

                        .middle-line {
                            height: 20px;
                            width: 1px;
                            background-color: #d1d1d1;
                        }

                        img {
                            position: unset;
                        }
                }
               
                img {
                    position: absolute;
                    right: 15px;
                    padding: 5px;
                    border-radius: 50%;

                        &:hover {
                            background-color: lightgray;
                            cursor: pointer;
                        }
        }
    }
        textarea {
            box-sizing: border-box;
            width: 440px;
            padding: 12px;
            border: 1px solid #d1d1d1;
            resize: none;
            font-family: 'Inter';
        }

        p {
            padding: 0;
            margin: 0;
        }

        .dropdown {
            background-color: white;
            border-radius: 10px;
            width: 440px;
            box-sizing: border-box;

                .selectable-user {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    position: relative;

                        &:hover {
                            background-color: lightgray;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                
                input {
                    width: unset;    
                    position: absolute;
                    right: 10px;
                }
                
                span {
                    font-size: 18px;
                    padding: 2px;
                }
            }
        }

        .initials {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: blue;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-right: 15px;
            color: #fff;
        }

        #subtask-wrapper {
            display: flex;
            flex-direction: column;
            width: 440px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin: 0;
                    padding: 0;
                    list-style: inside;
                    position: relative;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        width: 440px;
                        padding: 5px;
                        box-sizing: border-box;
                        list-style: inside;

                        #edit-input-wrapper {
                            width: 440px;
                            height: 30px;
                            position: absolute;
                            left: 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            
                            #edit-input {
                                position: absolute;
                            }

                            .icons-wrapper {
                                position: absolute;
                                right: 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 50px;

                     
            
                                    .middle-line {
                                        height: 20px;
                                        width: 1px;
                                        background-color: #d1d1d1;
                                    }
            
                                    img {
                                        position: unset;
                                    }
                            }
                        }

                        &:hover {
                            // padding: 5px;
                            background-color: #d1d1d1;
                            border-radius: 10px;
            
                        }

                        #edit-delete-wrapper{
                                position: absolute;
                                right: 15px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 50px;
                     
            
                                    .middle-line {
                                        height: 20px;
                                        width: 1px;
                                        background-color: #d1d1d1;
                                    }
            
                                    img {
                                        position: unset;
                                    }

                        }
                    }
                }
        
}}

#left-side, #right-side {
    display: flex;
    flex-direction: column;
    width: calc(50% - 120px);
    box-sizing: border-box;
    padding: 20px;
    gap: 25px

}

.disabled {
    background-color: gray;
}