<div id="details-wrapper">
    <div class="flex-row">
        <div id="category">{{taskData.category}}</div>
        <div id="close-btn">x</div>
    </div>

    <div id="title">{{taskData.title}}</div>
    <div id="description">{{taskData.description}}</div>
    <div class="flex-gap25">
        <span>Due Date:</span>
        <span>{{taskData.dueDate}}</span>
    </div>
    <div class="flex-gap25">
        <span>Priority:</span>
        <span>{{taskData.prio.charAt(0).toUpperCase()}}{{taskData.prio.slice(1)}}
            <img [src]="taskData.prio == 'urgent' ? '../assets/img/prioUrgent.svg' : taskData.prio == 'medium' ? '..assets/img/prioMedium.svg' : '..assets/img/prioLow.svg'"
                alt=""></span>
    </div>
    <div id="assigned-to-wrapper">
        <span>Assigned To:</span>
        <div class="assigned-user flex-gap25" *ngFor="let user of taskData.assignedUsers">
            <div class="initials" [ngStyle]="{'background-color': user.color}">{{getInitials(user.name)}}</div>
            <div class="name">{{user.name}}</div>
        </div>
    </div>
    <div id="subtasks-wrapper">
        <span>Subtasks</span>
        <div class="subtask" *ngFor="let subtask of taskData.subtasks">
            <input type="checkbox">
            <span>{{subtask.name}}</span>
        </div>
    </div>
    <div id="button-wrapper">
        <button><img src="../../../assets/img/delete.png" alt="">Delete</button>
        <button><img src="../../../assets/img/edit.png" alt="">Edit</button>
    </div>
</div>