<div id="container">
    <div id="upper-row">
        <div>
            <h1>Board</h1>
            <button id="add-task-mobile-btn" (click)="openAddTaskDialog()">+</button>
        </div>
        <div>
            <input type="text" placeholder="find task" (input)="filterBoard(filterInput)" [(ngModel)]="filterInput">
            <button id="add-task-desktop" class="buttonGlobalDark" (click)="openAddTaskDialog()">Add task +</button>
        </div>
    </div>
    <div id="board-container">

        <div class="board-column">
            <h2>To do</h2>
            <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="this.taskService.todo"
                [cdkDropListConnectedTo]="[inProgressList, feedbackList, doneList]"
                (cdkDropListDropped)="drop($event,'todo')">
                <div cdkDrag cdkDragPreviewContainer="parent" [cdkDragData]=" todo" [id]="'todoList'" class="task-card"
                    *ngFor="let todo of this.taskService.todo" (click)="openTaskDetailsDialog(todo)">
                    <div class="category"
                        [ngStyle]="{'background-color': todo.category == 'User Story' ? '#0038FF' : '#1FD7C1'}">
                        {{todo.category}}</div>
                    <div class="text-container">
                        <p class="title">{{todo.title}}</p>
                        <p class="description">{{todo.description}}</p>
                    </div>
                    <div class="subtasks" *ngIf="todo.subtasks.length != 0">
                        <div class="progress-bar-container">
                            <div class="current-progress"
                                [ngStyle]="{'width': countDoneSubtasks(todo.subtasks) === 0 ? '0%' : countDoneSubtasks(todo.subtasks) === 1 && todo.subtasks.length != 1 ? '50%' : '100%'}">
                            </div>
                        </div>
                        <div>{{countDoneSubtasks(todo.subtasks)}}/{{todo.subtasks.length}}</div>
                    </div>
                    <div class="flex-row">
                        <div id="assigned-users-wrapper">
                            <ng-container *ngFor="let user of todo.assignedUsers; let i = index"
                                [style.margin-left.px]="i > 0 ? -5 : 0">
                                <div *ngIf="i === 5" class="assigned-users-placeholder">...</div>
                                <div [ngStyle]="{'background-color': user.color}" class="assignedUsers"
                                    *ngIf="user.uid !== this.authService.userData.uid && i < 5">
                                    {{getInitials(user.name)}}</div>
                            </ng-container>
                        </div>
                        <img class="prio"
                            [src]="todo.prio == 'urgent' ? 'assets/img/prioUrgent.svg' : todo.prio == 'medium' ? 'assets/img/prioMedium.svg' : 'assets/img/prioLow.svg'"
                            alt="">
                    </div>
                </div>
                <div *ngIf="this.taskService.todo.length < 1" class="no-task-placeholder">No tasks to do</div>
            </div>
        </div>

        <div class="board-column">
            <h2>In progress</h2>
            <div class="task-container" cdkDropList #inProgressList="cdkDropList"
                [cdkDropListData]="this.taskService.inProgress"
                [cdkDropListConnectedTo]="[todoList, feedbackList, doneList]"
                (cdkDropListDropped)="drop($event, 'inProgress')">
                <div cdkDrag cdkDragPreviewContainer="parent" [cdkDragData]="todo" class="task-card"
                    *ngFor="let todo of this.taskService.inProgress" (click)="openTaskDetailsDialog(todo)">
                    <div class="category"
                        [ngStyle]="{'background-color': todo.category == 'User Story' ? '#0038FF' : '#1FD7C1'}">
                        {{todo.category}}</div>
                    <div class="text-container">
                        <p class="title">{{todo.title}}</p>
                        <p class="description">{{todo.description}}</p>
                    </div>
                    <div class="subtasks" *ngIf="todo.subtasks.length != 0">
                        <div class="progress-bar-container">
                            <div class="current-progress"
                                [ngStyle]="{'width': countDoneSubtasks(todo.subtasks) === 0 ? '0%' : countDoneSubtasks(todo.subtasks) === 1 && todo.subtasks.length != 1 ? '50%' : '100%'}">
                            </div>
                        </div>
                        <div>{{countDoneSubtasks(todo.subtasks)}}/{{todo.subtasks.length}}</div>
                    </div>
                    <div class="flex-row">
                        <div id="assigned-users-wrapper">
                            <ng-container>
                                <div *ngFor="let user of todo.assignedUsers; let i = index"
                                    [style.margin-left.px]="i > 0 ? -5 : 0">
                                    <div *ngIf="i === 5" class="assigned-users-placeholder">...</div>
                                    <div [ngStyle]="{'background-color': user.color}" class="assignedUsers"
                                        *ngIf="user.uid !== this.authService.userData.uid && i < 5">
                                        {{getInitials(user.name)}}</div>
                                </div>
                            </ng-container>
                        </div>
                        <img class="prio"
                            [src]="todo.prio == 'urgent' ? 'assets/img/prioUrgent.svg' : todo.prio == 'medium' ? 'assets/img/prioMedium.svg' : 'assets/img/prioLow.svg'"
                            alt="">
                    </div>
                </div>
                <div *ngIf="this.taskService.inProgress.length < 1" class="no-task-placeholder">No tasks to do</div>
            </div>
        </div>

        <div class="board-column">
            <h2>Await feedback</h2>
            <div class="task-container" cdkDropList #feedbackList="cdkDropList"
                [cdkDropListData]="this.taskService.feedback"
                [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
                (cdkDropListDropped)="drop($event, 'feedback')">
                <div cdkDrag cdkDragPreviewContainer="parent" [cdkDragData]="todo" class="task-card"
                    *ngFor="let todo of this.taskService.feedback" (click)="openTaskDetailsDialog(todo)">
                    <div class="category"
                        [ngStyle]="{'background-color': todo.category == 'User Story' ? '#0038FF' : '#1FD7C1'}">
                        {{todo.category}}</div>
                    <div class="text-container">
                        <p class="title">{{todo.title}}</p>
                        <p class="description">{{todo.description}}</p>
                    </div>
                    <div class="subtasks" *ngIf="todo.subtasks.length != 0">
                        <div class="progress-bar-container">
                            <div class="current-progress"
                                [ngStyle]="{'width': countDoneSubtasks(todo.subtasks) === 0 ? '0%' : countDoneSubtasks(todo.subtasks) === 1 && todo.subtasks.length != 1 ? '50%' : '100%'}">
                            </div>
                        </div>
                        <div>{{countDoneSubtasks(todo.subtasks)}}/{{todo.subtasks.length}}</div>
                    </div>
                    <div class="flex-row">
                        <div id="assigned-users-wrapper">
                            <ng-container *ngFor="let user of todo.assignedUsers; let i = index"
                                [style.margin-left.px]="i > 0 ? -5 : 0">
                                <div *ngIf="i === 5" class="assigned-users-placeholder">...</div>
                                <div [ngStyle]="{'background-color': user.color}" class="assignedUsers"
                                    *ngIf="user.uid !== this.authService.userData.uid && i < 5">
                                    {{getInitials(user.name)}}</div>
                            </ng-container>
                        </div>

                        <img class="prio"
                            [src]="todo.prio == 'urgent' ? 'assets/img/prioUrgent.svg' : todo.prio == 'medium' ? 'assets/img/prioMedium.svg' : 'assets/img/prioLow.svg'"
                            alt="">
                    </div>
                </div>
                <div *ngIf="this.taskService.feedback.length < 1" class="no-task-placeholder">No tasks to do</div>
            </div>
        </div>

        <div class="board-column">
            <h2>Done</h2>
            <div class="task-container" cdkDropList #doneList="cdkDropList" [cdkDropListData]="this.taskService.done"
                [cdkDropListConnectedTo]="[todoList, inProgressList, feedbackList]"
                (cdkDropListDropped)="drop($event, 'done')">
                <div cdkDrag cdkDragPreviewContainer="parent" [cdkDragData]="todo" class="task-card"
                    *ngFor="let todo of this.taskService.done" (click)="openTaskDetailsDialog(todo)">
                    <div class="category"
                        [ngStyle]="{'background-color': todo.category == 'User Story' ? '#0038FF' : '#1FD7C1'}">
                        {{todo.category}}</div>
                    <div class="text-container">
                        <p class="title">{{todo.title}}</p>
                        <p class="description">{{todo.description}}</p>
                    </div>
                    <div class="subtasks" *ngIf="todo.subtasks.length != 0">
                        <div class="progress-bar-container">
                            <div class="current-progress"
                                [ngStyle]="{'width': countDoneSubtasks(todo.subtasks) === 0 ? '0%' : countDoneSubtasks(todo.subtasks) === 1 && todo.subtasks.length != 1 ? '50%' : '100%'}">
                            </div>
                        </div>
                        <div>{{countDoneSubtasks(todo.subtasks)}}/{{todo.subtasks.length}}</div>
                    </div>
                    <div class="flex-row">
                        <div id="assigned-users-wrapper">
                            <ng-container *ngFor="let user of todo.assignedUsers; let i = index"
                                [style.margin-left.px]="i > 0 ? -5 : 0">
                                <div *ngIf="i === 5" class="assigned-users-placeholder">...</div>
                                <div [ngStyle]="{'background-color': user.color}" class="assignedUsers"
                                    *ngIf="user.uid !== this.authService.userData.uid && i < 5">
                                    {{getInitials(user.name)}}</div>
                            </ng-container>
                        </div>
                        <img class="prio"
                            [src]="todo.prio == 'urgent' ? 'assets/img/prioUrgent.svg' : todo.prio == 'medium' ? 'assets/img/prioMedium.svg' : 'assets/img/prioLow.svg'"
                            alt="">
                    </div>
                </div>
                <div *ngIf="this.taskService.done.length < 1" class="no-task-placeholder">No tasks to do</div>
            </div>
        </div>
    </div>

</div>