@import '../../shared/mixins.scss';

#container {
    padding: 25px 50px;
    height: calc(100vh - 240px);


#upper-row {
    @include dFlex($jc:space-between);
    width: calc(100% - 200px);
    margin-bottom: 3vh;

        h1 {
            font-size: 48px;
            margin: 0;
        }

        div {
            @include dFlex($jc:space-between, $gap: 32px);
            width: 100%;

            #add-task-desktop {
                width: 160px;
            }
        }

        input {
            width: 312px;
            height: 48px;
            border-radius: 10px;
            border: 1px solid $darkgray;
            padding: 8px 16px;
            gap: 10px;
            box-sizing: border-box;
            background: url('../../assets/img/search-icon.png') no-repeat 97%;
        }    

        #add-task-mobile-btn {
            @include dFlex();
            color: white;
            font-weight: 700;
            font-size: 21px;
            background: $darkblue;
            border-radius: 10px;
            cursor: pointer;
            height: 50px;
            width: 50px;
            transition: 125ms;
            padding: 5px;
        }
}

#board-container {
    display: flex;
    box-sizing: border-box;
    width: calc(100% - 200px);
    gap: 10%;

        .board-column {
            display: flex;
            flex-direction: column;
            flex: 25%;

            h2 {
                height: 58px;
                width: 120px;
                white-space: nowrap;
            }

            .task-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-height: calc(100vh - 300px);
                overflow-y: scroll;
                overflow-x: hidden;

                .task-card {
                    display: flex;
                    flex-direction: column;
                    padding: 16px;
                    background-color: #fff;
                    border-radius: 24px;
                    gap: 24px;
                    cursor: pointer;
                    transition: all 125ms linear;

                        &:hover {
                            transform: rotate(1deg);
                        }

                        .category {
                            padding: 6px 10px;
                            width: fit-content;
                            border-radius: 10px;
                            color: #fff;
                        }

                        .text-container {
                            display: flex;
                            flex-direction: column;
                            height: 65px;
                            gap: 8px;

                                .title {
                                    margin: 0;
                                    padding: 0;
                                    font-weight: 700;
                                    font-size: 16px;
                                }

                                .description {
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    -webkit-line-clamp: 2; 
                                    white-space: normal; 
                                    margin: 0;
                                    color: #A8A8A8;
                                }
                        }

                        .subtasks {
                            display: flex;
                            justify-content: space-between;

                                .progress-bar-container {
                                    width: 100px;
                                    height: 15px;
                                    border-radius: 10px;
                                    background-color: $lightgray;

                                    .current-progress {
                                    height: 100%;
                                    border-radius: 10px;
                                    background-color: #0000ff;
                                }
                            }
                        } 

                        #assigned-users-wrapper {
                            display: flex !important;

                            .assigned-users-placeholder {
                                display: flex;
                                align-items: flex-end;
                            }
                        }

                        .assignedUsers {
                            @include dFlex();
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            padding: 10px;
                            overflow: hidden;
                            border: 1px solid #fff;
                            color: #fff;
                        }

                        .flex-row {
                            @include dFlex($jc: space-between);
                        }
                }

                .no-task-placeholder {
                    @include dFlex();
                    background-color: #E7E7E7;
                    color: $darkgray;
                    padding: 15px;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media (max-width: 2000px) {
    #board-container {
        width: 100% !important;
    }

    #upper-row {
        width: 100% !important;
    }
}

@media (max-width: 1200px) {
    #container {
        overflow-y: scroll;
    }

    #board-container {
        flex-direction: column;
        overflow-x: hidden;
      
    }
}

@media (min-height: 1100px) and (min-width: 1200px) {
    #container {
        padding: 75px 50px 0px 50px;
        height: calc(100vh - 190px);
 } 
 }

 @media (max-width: 1000px) {

  #container {
        overflow-y: scroll;

        #upper-row {
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 36px;
            }

            input {
                width: 100% !important;
            }

            #add-task-desktop {
                display: none;
            }

            #add-task-mobile-btn { 
                width: 45px;
                height: 45px;
            }
        }
    }
 }

 @media (min-width: 1000px) {
    #add-task-mobile-btn {
        display: none !important;
    }
 }

@media (max-width: 600px) and (max-height: 850px) {
    #upper-row {
        h1 {
            font-size: 36px;
        }
    }

    .task-container {
        overflow-y: scroll;
        max-height: calc(100vh - 500px) !important;
        overflow-x: hidden;
        gap: 50px !important;
    }
}

@media (max-width: 1500px) {
    #board-container {
        gap: 3%;
    }
}
