.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 340px;
    gap: 34px;
    position: absolute;
    width: calc(100% - 376px);
    height: 50px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 50;


#dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: relative;
    width: 106px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#initials {
    border: 3px solid lightgray;
    border-radius: 50%;
    padding: .8rem;
    cursor: pointer;
    min-width: 25px;
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #2aaae2;
    user-select: none;

        &:hover {
            background-color: rgba(211, 211, 211, 0.482);
        }
}

#dropdown {
    position: absolute;
    top: 4.4rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    color: white;
    width: fit-content;
    height: fit-content;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    cursor: pointer;
    z-index: 999;

    span {
        white-space: nowrap;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid rgb(42, 170, 226);
        }
    }
}
}

.sideMenu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    position: absolute;
    width: 232px;
    height: calc(100% - 132px);
    left: 0px;
    top: 0px;
    z-index: 51;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 229px;

    a {
        text-decoration: none;
    }

    p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 53px;
        gap: 20px;
        width: 232px;
        height: 46px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

.menu-links {
    display: flex;
    width: 272px;
    align-items: center;
    height: 50px;
    color: white;
    box-sizing: border-box;
    gap: 10px;
    padding: 35px 0px 35px 75px;
    border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: #3d444d64;
}
}

.active-link {
    background-color: #091931;
}

.side-menu-img {
    height: 20px;
}

.legal-notice {
    position: absolute;
    bottom: 50px;
    text-decoration: none;
}

.d-none {
    display: none !important;
}

.logo-mobile {
    display: none;
}

@media(max-height:600px) {
    .legal-notice {
        bottom: 12px;
    }
}

@media(max-width:1000px) {
    .d-none-mobile {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        gap: 0;
        position: fixed;
        width: 100vw;
        height: 100px;
        left: 0;
        top: 0;
        right: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        #dropdown-container {
            width: 49px;
            margin-right: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    }

    .sideMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        gap: 0;
        width: 100vw;
        height: 100px;
        top: calc(100vh - 100px);
        bottom: 0px;
        z-index: 10;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        gap: 0;
        width: 100%;
        height: 100px;
    }

    .side-bar-text {
        white-space: nowrap;
        font-size: 12px;
    }

    .menu-links {
        width: 70px;
        flex-direction: column;
        height: 70px;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .logo-mobile {
        display: block;
        height: 50px;
        margin-left: 10%;

    }
}

