<div class="header">
    <img class="logo-mobile" src="../../assets/img/Capa-dark.png">
    <p class="d-none-mobile">Kanban Project Management Tool</p>
    <div class="headerImg">
        <a href="../Datenschutz/help.html"><img class="d-none-mobile" id="questionMark"
                src="../../assets/img/Vector.svg"></a>
        <div id="initials" (click)="toggleDropdown()"></div>
        <div id="logout" [class.d-none]="!showDropdown" (click)="signOut()">
            <span>Logout</span>
        </div>
    </div>


</div>
<div class="sideMenu">
    <a class="legal-notice d-none-mobile" id="side-menu-link4" href="../Datenschutz/legalNoticeLogin.html">
        <div class="menu-links">
            <img class="side-menu-img" src="../../assets/img/legal-notice.png">
            <div>Legal notice</div>
        </div>
    </a>
    <a class="privacy-policy d-none-mobile" id="side-menu-link5" href="../Datenschutz/policyPrivacyLogin.html">
        <div class="menu-links">
            <img class="side-menu-img" src="../../assets/img/legal-notice.png">
            <div>Privacy Policy</div>
        </div>
    </a>
    <img class="d-none-mobile" src="../../assets/img/Capa 1.svg">

    <div class="menu">
        <a id="side-menu-link0" routerLink="/summary">
            <div class="menu-links">
                <img class="side-menu-img" src="../../assets/img/uit_web-grid.svg">
                <div class="side-bar-text">Summary</div>
            </div>
        </a>

        <a id="side-menu-link1" routerLink="/board">
            <div class="menu-links">
                <img class="side-menu-img" src="../../assets/img/Vector (1).svg">
                <div class="side-bar-text">Board</div>
            </div>
        </a>

        <a id="side-menu-link2" routerLink="/add-task">
            <div class="menu-links">
                <img class="side-menu-img" src="../../assets/img/Write task icon.svg">
                <div class="side-bar-text">Add Task</div>
            </div>
        </a>

        <a id="side-menu-link3" routerLink="/contacts">
            <div class="menu-links">
                <img class="side-menu-img" src="../../assets/img/Vector (3).svg">
                <div class="side-bar-text">Contacts</div>
            </div>
        </a>
    </div>
</div>

<div id="mobileDropDown" class="d-none">
    <a href="../Datenschutz/policyPrivacyLogin.html">Privacy Policy</a>
    <a href="../Datenschutz/legalNoticeLogin.html">Legal notice</a>
    <a onclick="logout()">Logout</a>
</div>