.content {
    position: absolute;
    top: 90px;
    left: 271px;
    width: calc(100% - 272px);
    height: calc(100vh - 90px);
    background-color: #F6F7F8;
}

@media (max-width: 1000px) {
    .content {
    left: 0; 
    width: 100vw;
    }
}

@media (max-width: 768px) {
    // .content {
    //     top: 0;
    // }
}