<div id="container">
    <img id="fixedLogo" src="assets/img/join_logo.svg" alt="Logo">

    <section id="signUpSection" *ngIf="!showConfirmation">

        <a routerLink="" id="backBtn"><img src="assets/img/arrow_back.png" alt="back to login page button" /></a>

        <div id="headline">
            <h1>Sign up</h1>
            <img src="assets/img/line.png" alt="blue-line">
        </div>

        <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
            <input required [(ngModel)]="username" name="name" type="name" placeholder="Name"
                pattern="^[a-zA-ZäöüÄÖÜß]+ [a-zA-ZäöüÄÖÜß]+$" />
            <span class="formError" *ngIf="signUpForm.submitted && signUpForm.form.get('name')?.invalid">Please enter
                your first and last name</span>
            <input required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="email" name="email" type="email"
                placeholder="Email" />
            <span class="formError" *ngIf="signUpForm.submitted && signUpForm.form.get('email')?.invalid">Please enter a
                valid email address </span>
            <input required minlength="6" [(ngModel)]="password" name="password" type="password"
                placeholder="Password" />
            <span class="formError" *ngIf="signUpForm.submitted && signUpForm.form.get('password')?.invalid">Password is
                required and must be at least 6 characters long</span>
            <input required minlength="6" [(ngModel)]="confirmationPassword" name="confirmationPassword" type="password"
                placeholder="Confirm Password">
            <span class="formError"
                *ngIf="signUpForm.submitted && signUpForm.form.get('confirmationPassword')?.invalid || signUpForm.submitted && !passwordsMatch()">Password
                does not match or is too short</span>
            <div id="privacyContainer">
                <div id="checkmarkContainer">
                    <input [(ngModel)]="privacyPolicyAccepted" required name="privacyPolicy" type="checkbox"
                        id="acceptPrivacyPolicyInput" />
                    <span>I accept the <a routerLink="/legal-notice" class="textHighlight">Privacy
                            Policy</a></span>
                </div>
                <span class="formError" *ngIf="signUpForm.submitted && !privacyPolicyAccepted">You
                    have to accept our privacy policy to register</span>
            </div>
            <button class="buttonGlobalDark"
                [disabled]="!signUpForm.valid && !privacyPolicyAccepted && passwordsMatch() || !passwordsMatch()"
                type="submit">Sign
                up</button>
        </form>
    </section>

    <div id="sign-up-confirmation" *ngIf="showConfirmation">You signed up successfully</div>

    <section id="legal">
        <a routerLink="/legal-notice">Legal notice</a>
    </section>
</div>