<div id="container">
    <img id="fixedLogo" src="../../assets/img/join_logo.svg" alt="Logo">

    <section id="signUpSection">

        <a [routerLink]="''" id="backBtn"><img src="../../assets/img/arrow_back.png"
                alt="back to login page button" /></a>

        <div id="headline">
            <h1>Sign up</h1>
            <img src="../../assets/img/line.png" alt="blue-line">
        </div>

        <form [formGroup]="accountForm" (ngSubmit)="signUp()">
            <input formControlName="name" type="name" placeholder="Name" />
            <span class="formError"
                *ngIf="accountForm.get('name')?.touched && accountForm.get('name')?.errors?.['required']">Name
                required</span>
            <input formControlName="email" type="email" placeholder="Email" />
            <span class="formError"
                *ngIf="accountForm.get('email')?.touched && accountForm.get('email')?.errors?.['required'] || accountForm.get('email')?.errors?.['email']">Email
                required</span>
            <input formControlName="password" type="password" placeholder="Password" />
            <span class="formError"
                *ngIf="accountForm.get('password')?.touched && accountForm.get('password')?.errors?.['required']">Password
                required</span>
            <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
            <span class="formError" *ngIf="passwordsDontMatch() && accountForm.get('confirmPassword')?.touched">Password
                do not match</span>
            <div class="privacyPolicyContainer" id="privacyContainer">
                <div class="checkmarkContainer">
                    <input formControlName="acceptPrivacyPolicy" type="checkbox" id="acceptPrivacyPolicyInput" />
                    <span>I accept the <a onclick="openPrivacyPolicy()" class="textHighlight">Privacy
                            Policy</a></span>
                </div>
                <span class="formError"
                    *ngIf="accountForm.get('acceptPrivacyPolicy')?.touched && accountForm.get('acceptPrivacyPolicy')?.errors?.['requiredTrue']">You
                    have to accept our privacy policy to register</span>
            </div>
            <button class="buttonGlobalDark" type="submit">Sign up</button>
        </form>


    </section>
    <section id="legal">
        <a onclick="openPrivacyPolicy()">Privacy Policy</a>
        <a onclick="openLegalNotice()">Legal notice</a>
    </section>
</div>