<div id="pop-up-container">

    <div id="close-btn" (click)="closeDialog()">X</div>

    <div id="left-side">
        <div id="headline">
            <img src="../../../assets/img/Capa 2joinAddContact.png" alt="">
            <h1>Edit contact</h1>
            <img src="../../../assets/img/horizontal-line.png" alt="">
        </div>
    </div>

    <div id="right-side">

        <div id="profile">
            <img src="../../../assets/img/contact.png" alt="">
        </div>

        <form class="flex-column" #editContactForm="ngForm" (ngSubmit)="editContact(editContactForm)">
            <div class="input-wrapper">
                <input required name="name" id="name-input" type="text" placeholder="Name" [(ngModel)]="name"
                    pattern="^[a-zA-ZäöüÄÖÜß]+ [a-zA-ZäöüÄÖÜß]+$">
                <p *ngIf="editContactForm.submitted && editContactForm.form.get('name')?.invalid">
                    Please enter first and last name</p>
            </div>
            <div class="input-wrapper">
                <input pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required name="email" id="mail-input" type="email"
                    placeholder="Email" [(ngModel)]="email">
                <p class="required" *ngIf="editContactForm.submitted && editContactForm.form.get('email')?.invalid">
                    Please enter a valid email address</p>
            </div>
            <div class="input-wrapper">
                <input required name="phone" id="phone-input" type="tel" placeholder="Phone" [(ngModel)]="phone"
                    pattern="^[0-9]+$" minlength="8">
                <p class="required" *ngIf="editContactForm.submitted && editContactForm.form.get('phone')?.invalid">
                    Please enter a valid phone number</p>
            </div>
            <div id="button-container">
                <button class="buttonGlobalWhite" type="button" (click)="deleteContact()">Delete</button>
                <button class="buttonGlobalDark" type="submit">Save <img src="../../../assets/img/check-icon-white.svg"
                        alt=""></button>
            </div>
        </form>
    </div>
</div>