@import '../../../shared/mixins.scss';

#pop-up-container {
    display: flex;
    border-radius: 10px;
    gap: 50px;
    position: relative;

        #close-btn {
            position: absolute;
            top: 25px;
            right: 25px;
            color: white;
        }

        #left-side {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $darkblue;
            padding: 50px;
            border-radius: 10px 0px 0px 10px;

            #headline {
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: #fff;

                    #logo{
                        height: 50px;
                        width: 50px;
                    }       

                    h1, p {
                        margin: 0;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                    img {
                        width: fit-content;
                    }
            }
        }

        #right-side {
            @include dFlex($jc: space-between);
            background-color: $white;
            gap: 50px;
            padding: 50px 50px 50px 0;
            border-radius: 0px 10px 10px 0px;

            #profile {
                @include dFlex();
                height: 120px;
                width: 120px;
                border-radius: 50%;
                color: $white;
                font-size: 48px;
                border: 5px solid $white;
            }

                .flex-column {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    .input-wrapper {

                        p {
                            margin: 0;
                            padding: 0;
                            color: $error_red;
                        }
                    
                        input {
                            box-sizing: border-box;
                            width: 100%;
                            padding: 12px;
                            border-radius: 10px;
                            border: 1px solid $lightgray;                
                        }

                        #name-input {
                            background: url(../../../assets/img/person.png) no-repeat;
                            background-position: 97%;
                        }

                        #mail-input {
                            background: url(../../../assets/img/mail.png) no-repeat;
                            background-position: 97%;
                        }

                        #phone-input {
                            background: url(../../../assets/img/call.png) no-repeat;
                            background-position: 97%;
                        }
                    }
                        #button-container {
                            display: flex;
                            gap: 20px;

                                button {
                                    gap: 5px;
                                    max-width: 200px;

                                        span {
                                            font-size: 16px;
                                        }
                                }
                        }
                    }                      
        }
}

@media (max-width: 1000px) {
    #pop-up-container {
        flex-direction: column;
        width: unset !important;
        justify-content: space-between;
        align-items: center;
        gap: 0;

            #left-side {
                padding: 20px 10px !important;
                width: 100%;
            }

            #right-side {
                padding: 20px 10px !important;
                width: 100%;
                flex-direction: column;
                padding: 0;
                gap: 20px;
            
             form {
                margin-left: 0 !important;
                gap: 25px !important;
             }
        }
    }
}

@media (max-width: 600px) { 
    #pop-up-container {
        max-height: 450px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}