<div id="pop-up-container">

    <div id="left-side">
        <div id="headline">
            <img src="../../../assets/img/Capa 2joinAddContact.png" alt="">
            <h1>Edit contact</h1>
            <div id="line"></div>
        </div>
    </div>

    <div id="right-side">

        <div id="profile">
            <img src="../../../assets/img/contact.png" alt="">
        </div>

        <div class="flex-column">
            <input id="name-input" type="text" placeholder="Name" [(ngModel)]="name">

            <input id="mail-input" type="text" placeholder="Email" [(ngModel)]="email">

            <input id="phone-input" type="number" placeholder="Phone" [(ngModel)]="phone">

            <div id="button-container">
                <button class="buttonGlobalWhite" (click)="closeDialog()">Delete</button>
                <button class="buttonGlobalDark" (click)="editContact()">Save</button>
            </div>
        </div>



    </div>
</div>