<div id="container">
    <div class="flex-column">
        <div id="summary-wrapper">
            <div id="headline-container" [ngClass]="{'headline-container-mobile': mobileView}">
                <ng-container *ngIf="!mobileView; else mobileTemplate">
                    <h1>Join 360</h1>
                    <img [src]="mobileView ? '../../../assets/img/horizontal-line.png' : '../../../assets/img/Vector 5.png'"
                        alt="line">
                    <span>Key Metrics at a Glance</span>
                </ng-container>
                <ng-template #mobileTemplate>
                    <h1>Join 360</h1>
                    <span>Key Metrics at a Glance</span>
                    <img [src]="mobileView ? '../../../assets/img/horizontal-line.png' : '../../../assets/img/Vector 5.png'"
                        alt="line">
                </ng-template>
            </div>
            <div class="first-row">
                <div class="first-row-child box-hover" [routerLink]="['/board']">
                    <div class="img-circle">
                        <svg id="pencil" width="33" height="32" viewBox="0 0 33 32" fill="#000"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_130019_6086" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="33" height="32">
                                <rect x="0.5" width="32" height="32" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_130019_6086)">
                                <path
                                    d="M7.16667 25.3332H9.03333L20.5333 13.8332L18.6667 11.9665L7.16667 23.4665V25.3332ZM26.2333 11.8998L20.5667 6.29984L22.4333 4.43317C22.9444 3.92206 23.5722 3.6665 24.3167 3.6665C25.0611 3.6665 25.6889 3.92206 26.2 4.43317L28.0667 6.29984C28.5778 6.81095 28.8444 7.42761 28.8667 8.14984C28.8889 8.87206 28.6444 9.48873 28.1333 9.99984L26.2333 11.8998ZM24.3 13.8665L10.1667 27.9998H4.5V22.3332L18.6333 8.19984L24.3 13.8665Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                    <div>
                        <span class="amount">{{this.taskService.todo.length}}</span>
                        <span class="status">Todo</span>
                    </div>
                </div>
                <div class="first-row-child box-hover" [routerLink]="['/board']">
                    <div class="img-circle">
                        <svg id="checkmark" width="33" height="32" viewBox="0 0 38 30" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.02832 15.0001L15.2571 26.0662L33.9717 3.93408" stroke="white" stroke-width="7"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        <span class="amount">{{this.taskService.done.length}}</span>
                        <span class="status">Done</span>
                    </div>
                </div>
            </div>
            <div class="second-row box-hover" [routerLink]="['/board']">
                <img src="../../../assets/img/urgent-button.png" alt="urgent-button">
                <div>
                    <span class="amount">{{this.taskService.urgentTasks}}</span>
                    <span>Urgent</span>
                </div>
                <img src="../../../assets/img/parting-line.png">
                <div>
                    <span id="deadline" *ngIf="this.taskService.urgentTasks > 0">{{getUpcomingDeadline()}}</span>
                    <span *ngIf="this.taskService.urgentTasks === 0">No urgent tasks</span>
                    <span *ngIf="this.taskService.urgentTasks > 0">Upcoming Deadline</span>
                </div>
            </div>
            <div class="third-row">
                <div class="third-row-child box-hover" [routerLink]="['/board']">
                    <span class="amount">{{this.taskService.tasks.length}}</span>
                    <span class="status">Tasks in Board</span>
                </div>
                <div class="third-row-child box-hover" [routerLink]="['/board']">
                    <span class="amount">{{this.taskService.inProgress.length}}</span>
                    <span class="status">Tasks in Progress</span>
                </div>
                <div class="third-row-child box-hover" [routerLink]="['/board']">
                    <span class="amount">{{this.taskService.feedback.length}}</span>
                    <span class="status">Awaiting Feedback</span>
                </div>
            </div>
        </div>
    </div>
    <div id="greeting-container">
        <span>{{ greetingPhrase }},</span>
        <span id="username">{{this.auth.userData.name}}</span>
    </div>
</div>