<div class="container">
    <div class="left-container">
        <div class="headline-container">
            <h1>Join 360</h1>
            <img src="../../../assets/img/Vector 5.png" alt="">
            <span>Key Metrics at a Glance</span>
        </div>

        <div class="summary-wrapper">
            <div class="first-row">
                <div class="first-row-child">
                    <img src="../../../assets/img/Group 7.png" alt="pencil">
                    <div>
                        <span class="amount">{{this.taskService.todo.length}}</span>
                        <span class="status">Todo</span>
                    </div>
                </div>
                <div class="first-row-child">
                    <img src="../../../assets/img/Group 7.png" alt="pencil">

                    <div>
                        <span class="amount">{{this.taskService.done.length}}</span>
                        <span class="status">Done</span>
                    </div>
                </div>
            </div>
            <div class="second-row">
                <img src="../../../assets/img/urgent-button.png" alt="urgent-button">
                <div>
                    <span class="amount">{{this.taskService.urgentTasks}}</span>
                    <span>Urgent</span>
                </div>
                <img src="../../../assets/img/parting-line.png">
                <div>
                    <span>October 16, 2022</span>
                    <span>Upcoming Deadline</span>
                </div>
            </div>
            <div class="third-row">
                <div class="third-row-child">
                    <span class="amount">{{this.taskService.tasks.length}}</span>
                    <span class="status">Tasks in Board</span>
                </div>
                <div class="third-row-child">
                    <span class="amount">{{this.taskService.inProgress.length}}</span>
                    <span class="status">Tasks in Progress</span>
                </div>
                <div class="third-row-child">
                    <span class="amount">{{this.taskService.feedback.length}}</span>
                    <span class="status">Awaiting Feedback</span>
                </div>
            </div>
        </div>
    </div>
    <div id="greeting-container">
        <span>Good morning,</span>
        <span id="username">{{this.auth.userData.name}}</span>
    </div>
</div>