<div id="container">

    <div id="left-side">
        <div class="buttonGlobalDark" id="add-contact-btn">
            <span>Add new contact</span>
            <img src="../../assets/img/add-contact.png" alt="">
        </div>

        <div id="contact-list">

            <div class="contact">
                <div class="initials">AM</div>
                <div>
                    <div class="name">Anton Mayer</div>
                    <div class="email">antonseineemail</div>
                </div>
            </div>

        </div>
    </div>

    <div id="right-side">

        <div class="relative">

            <div id="headline">
                <h1>Contacts</h1>
                <div id="parting-line"></div>
                <p>Better with a team</p>
            </div>

            <div class="contact-details">

                <div class="first-row">
                    <div class="initials-details">AM</div>
                    <div class="flex-column">
                        <span class="name-details">Anton Mayer</span>
                        <div class="flex-row">
                            <div class="icons-wrapper">
                                <img src="../../assets/img/edit.png" alt="">
                                <span>Edit</span>
                            </div>

                            <div class="icons-wrapper">
                                <img src="../../assets/img/delete.png" alt="">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="fz-20">Contact Information</span>


                <div class="email-container">
                    <h2>Email</h2>
                    <span class="email">antonseineemail</span>
                </div>

                <div class="phone-container">
                    <h2>Phone</h2>
                    <span>123455657</span>
                </div>
            </div>

        </div>
    </div>

</div>