#container {
    background-color: #F6F7F8;
    height: calc(100vh - 90px);
    width: calc(100vw - 271px);
    position: relative;
    display: flex;

    #right-side {
        // position: absolute;
        // left: 30%;
        // top: 0px;
        flex: 1;
        height: calc(100vh - 90px);
        padding: 30px 0 0 30px;
            .relative {
                position: relative;
    

            #headline {
                display: flex;
                align-items: center;
                gap: 25px;
                margin-bottom: 25px;

                    h1 {
                        font-size: 48px;
                        margin: 0;
                    }

                    #parting-line {
                        height: 50px;
                        background-color: #29ABE2;
                        width: 2px;
                    }

                    p {
                        font-size: 22px;
                    }
            }

            @keyframes slide-in {
                0% {
                    transform: translate(500px);
                }
                100% {
                    transform: translate(0px);
                }
            }

            .contact-details {
                display: flex;
                flex-direction: column;
                gap: 25px;
                animation: slide-in 125ms linear;

                    .first-row {
                        display: flex;
                        gap: 25px;

                            .initials-details {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                width: 120px;
                                height: 120px;
                                padding: 25px;
                                box-sizing: border-box;
                                border: 5px solid #fff;
                                color: #fff;
                                font-size: 48px;
                            }

                            .flex-column {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;

                                .name-details {
                                    font-size: 42px;
                                }

                                .flex-row {
                                    display: flex;
                                    gap: 25px;
                                }

                                .icons-wrapper {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 10px;
                        
                                    &:hover {
                                        cursor: pointer;
                                        color: #29ABE2;
                                       
                                        svg {
                                            path {
                                                fill:#29ABE2;
                                            }
                                        }
                                    }

                                       
                                }
                            }
                    }
            }


        #added-contact-confirmation {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -200px;
            height: 74px;
            width: 326px;
            border-radius: 20px;
            box-shadow: 0px 0px 4px 0px #00000026;
            background-color: #2A3647;
            color: #fff;
            font-size: 20px;
            animation: slide-in 125ms linear;
        }
    }

    .email {
        color: #29ABE2
    }

}
        


#left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // flex: 0;
    background-color: #fff;
    height: calc(100vh - 90px);
    min-width: 300px;
    max-width: 300px;

    #add-contact-btn {
        gap: 15px;
        height: 34px;
        margin: 20px 20px 0 20px;
        
            span {
                font-size: 20px;
            }
            &:hover {
                background-color: #29ABE2;
            }
    }

    #contact-list {
        display: flex;
        flex-direction: column;
        gap: 15px;  
        // padding: 0px 48px 32px 48px;
        padding: 0 5px;
        box-sizing: border-box;

        overflow-y: scroll;

        ::-webkit-scrollbar {
            width: 0;
        }

            .first-letter {
                padding: 15px 24px;
                font-size: 20px;
                box-shadow: 0 2px 1px -1px lightgray;
            }

            .contact {
                display: flex;
                align-items: center;
                padding: 15px;
                gap: 10px;
                height: 75px;
                box-sizing: border-box;
                border-radius: 10px;

                &:hover {
                    background-color: lightgray;
                    cursor: pointer;
                }
            
                .initials {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    padding: 10px;
                    width: 25px;
                    height: 25px;
                    color: #fff;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .name {
                        font-size: 20px;
                    }

                    .email {
                        font-size: 16px;
                        color: #29ABE2;
                    }
                }
            }
            .active {
                background-color: #2A3647 !important; 
                color: #fff;
            }
    }
}
}