<div id="container">

    <div id="left-side">
        <div class="buttonGlobalDark" id="add-contact-btn" (click)="openAddNewContactDialog()">
            <span>Add new contact</span>
            <img src="../../assets/img/add-contact.png" alt="">
        </div>

        <div id="contact-list">
            <!-- andere variable nutzen -->
            <div class="contact" *ngFor="let contact of currentUserContacts; let i = index"
                [ngClass]="{'active': showDetails && contact.uid == this.contactService.selectedContact.uid}"
                (click)="showContactDetails(contact)">
                <div class="initials" [ngStyle]="{'background-color': contact.color}">{{getInitials(contact.name)}}
                </div>
                <div>
                    <div class="name">{{contact.name}}</div>
                    <div class="email">{{contact.email}}</div>
                </div>
            </div>

        </div>
    </div>

    <div id="right-side">

        <div class="relative">

            <div id="headline">
                <h1>Contacts</h1>
                <div id="parting-line"></div>
                <p>Better with a team</p>
            </div>

            <div class="contact-details" *ngIf="showDetails">

                <div class="first-row">
                    <div class="initials-details"
                        [ngStyle]="{'background-color': this.contactService.selectedContact.color}">
                        {{getInitials(this.contactService.selectedContact.name)}}</div>
                    <div class="flex-column">
                        <span class="name-details">{{this.contactService.selectedContact.name}}</span>
                        <div class="flex-row">
                            <div class="icons-wrapper">
                                <img (click)="openEditContactDialog(this.contactService.selectedContact)"
                                    src="../../assets/img/edit.png" alt="">
                                <span>Edit</span>
                            </div>

                            <div class="icons-wrapper">
                                <img (click)="deleteContact(this.contactService.selectedContact)"
                                    src="../../assets/img/delete.png" alt="">
                                <span>Delete</span>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="fz-20">Contact Information</span>


                <div class="email-container">
                    <h2>Email</h2>
                    <span class="email">{{this.contactService.selectedContact.email}}</span>
                </div>

                <div class="phone-container">
                    <h2>Phone</h2>
                    <span>{{this.contactService.selectedContact.phone}}</span>
                </div>
            </div>

        </div>
    </div>
</div>